/*
** Fonts
*/
$roboto: 'Roboto', sans-serif;
$base-font-size: 16px;
$sm-font: 15px;
$xsm-font: 14px;
$xs-font: 13px;
$xxs-font: 12px;
$md-font: 18px;
$xmd-font: 20px;
$lg-font: 22px;
$mlg-font: 30px;
$xlg-font: 40px;

/*colors*/

$transparent: transparent;
$darker: #1d1e20;
$dark: #404040;
$white: #ffffff;
$off-white: #f7f7f7;
$lighter-grey: #f0f0f0;
$xlight-grey: #e7e7e7;
$medium-light-grey: #d7d7d7;
$light-grey: #999999;
$line-grey: #dfdfdf;
$accordion-grey: #ededed;
$accordion-font-grey: #898989;
$dark-grey: #666666;
$light-blue: #00AFF0;
$dark-blue: #1c93bf;
$nav-darkest: #2b3643;
$nav-darker: #364150;
$nav-dark: #3e4b5c;
$nav-highlight: #36c6d3;
$nav-font: #b4bcc8;
$top-nav-font: #c6cfda;
$violet: #DF40FA;
$red: #e74c3c;
$dash-bg: #eef1f5;
$main-font: #5a7391;

$nav-border: rgba(180, 188, 200, 0.15);
$dark-trans: rgba(34, 34, 34, 0.8);


$primary-color-dark: #1976D2;
$primary-color: #2196F3;
$primary-color-light: #BBDEFB;
$primary-color-text: #FFFFFF;
$accent-color: #FF5252;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
